.appbackdrop {
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  /* height: -webkit-fill-available;
  height: -moz-available; 
  height: fill-available; */
  min-height: 100vh;
  padding: 5px 10px;
}
